<%- include('partials/header') %>

<% if(locals.cubes[0].brand) { %>
    <h2>Catégorie : <%= cubes[0].brand.name %></h2>
<% } else if (locals.cubes[0].category) { %>
    <h2>Catégorie : <%= cubes[0].category.name %></h2>
<% } %>

<div class="home-container">
    <% for(const cube of cubes) { %>
        <div class="article-container">
            <h3><%= cube.name %></h3>
            <img src="<%= cube.image_url %>" alt="<%= cube.name %>">
            <a href="/cube/<%= cube.id %>">Voir produit</a>
        </div>
    <% } %>
</div>

<%- include('partials/footer') %>